.destinations {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 88%;
    margin: auto;
    margin-bottom: 3rem;
    border-radius: 15px;
    gap: 30px;
    padding: 20px;
    background-color: #201d1de4;
    flex-wrap: wrap;
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 1.5);
  } 

  .heading{
    display: block;
    width:100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#962c06;
    padding-left:1rem;
  }
  
  .card {
    flex: 0 0 300px;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1.5);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
    color: black;
}

.card-name{
    margin: 0;
    text-decoration: dashed;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card p {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    background-color: #f4f4f4;
}